# Excel Madness Lab!

## Our Mission
We work for a large supermarket chain, with stores in 10 major cities that happen to coincide with General Assembly campuses. However, this company's idea of a "database" is just a bunch of Excel spreadsheets! In order to analyze our data, we're going to need to process the existing data into a form we can use. **Our end goal is to have one csv per city.**

## Cleanup Duty!
It is a hard truth that data scientists spend a large majority of their time cleaning data. Data never arrives on our desks in exactly the format in which we want it, and it's up to us to transform it to a workable format.

Being good cleaning, moving, and reshaping data is in itself a valuable and employable job skill. If you follow these directions exactly, we will walk through constructing an automated process for processing data from this supermarket chain.

# Part I: Processing

### Step 1: Imports and the `os` library
We're going to import three libraries: numpy, pandas, and `os`.

In [286]:
# Import libraries here.
import os
import numpy as np
import pandas as pd

The `os` library is extremely useful for performing system commands from within Python. Let's get two pieces of overhead out of the way now:

1. Create an `output` folder using `os.mkdir()`
2. Create a variable called `files` that is the list of files in the `data` folder using `os.listdir()`

**WARNING:** The `os.mkdir()` function will give you an error if you try to make a folder that already exists!

In [ ]:
# Create an output folder.
os.mkdir("output")

In [308]:
# Create a files variable that contains all of our data files.

# path of the current script
path = 'C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/data'
  
file = 'files.txt'

dir_list = os.listdir(path) 
print("List of directories and files before creation:")
print(dir_list)
print()

List of directories and files before creation:
['Jan 1.xlsx', 'Jan 10.xlsx', 'Jan 11.xlsx', 'Jan 12.xlsx', 'Jan 13.xlsx', 'Jan 14.xlsx', 'Jan 15.xlsx', 'Jan 16.xlsx', 'Jan 17.xlsx', 'Jan 18.xlsx', 'Jan 19.xlsx', 'Jan 2.xlsx', 'Jan 20.xlsx', 'Jan 21.xlsx', 'Jan 22.xlsx', 'Jan 23.xlsx', 'Jan 24.xlsx', 'Jan 25.xlsx', 'Jan 26.xlsx', 'Jan 27.xlsx', 'Jan 28.xlsx', 'Jan 29.xlsx', 'Jan 3.xlsx', 'Jan 30.xlsx', 'Jan 31.xlsx', 'Jan 4.xlsx', 'Jan 5.xlsx', 'Jan 6.xlsx', 'Jan 7.xlsx', 'Jan 8.xlsx', 'Jan 9.xlsx']

### Step 2: Process one data frame
It looks like we have data for the month of January. 31 files of 10 sheets each! Luckily they are all in the same format. So let's read just one in and process that. It might be helpful to open one up in your spreadsheet viewer of choice first (Excel, Numbers, Sheets, etc.)

In [309]:
# Read in data from your city from January 21.
Jan21 = pd.read_excel(open('C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/data/Jan 21.xlsx', 'rb'), 
                      sheet_name='Boston');

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [310]:
Jan21.shape

(186, 4)

### Step 2a: Convert to 'Merican columns
For whatever reason, our data are stored in euros and kilograms. Create `price_usd` and `weight_lb` columns. There are 2.2 pounds per kilogram, and 1.1 dollars per euro.

In [311]:
Jan21.head()

   prodcode  price_eu  weight_kg  quantity
0      4062  2.704403   8.204685       362
1      4134  2.853825   7.778257       188
2      4078  2.230495   8.936067       179
3      4412  2.509314   3.358003       132
4      3302  2.105311   8.875587       299

In [312]:
# euros and kilograms conversion
Jan21['price_usd']=Jan21['price_eu']*1.1
Jan21['weight_lb']=Jan21['weight_kg']/2.2

In [313]:
Jan21.head()

   prodcode  price_eu  weight_kg  quantity  price_usd  weight_lb
0      4062  2.704403   8.204685       362   2.974843   3.729402
1      4134  2.853825   7.778257       188   3.139207   3.535572
2      4078  2.230495   8.936067       179   2.453545   4.061848
3      4412  2.509314   3.358003       132   2.760245   1.526365
4      3302  2.105311   8.875587       299   2.315842   4.034358

### Step 2b: Merge in product names
You'll notice we also have a `plu-codes.csv` file containing actual product names matched up against their price lookup (PLU) codes. Let's merge these product names onto our Jan 1 data.
* _Hint 1:_ What kind of merge is this? Right, left, inner, outer, etc.?
* _Hint 2:_ Pay special attention to column names!

In [314]:
# reading of the file "plu-codes.csv"
plu = pd.read_csv("C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/plu-codes.csv")
plu.head()

        product  plu_code
0  Apple (Fuji)      4131
1  Apple (Gala)      4134
2       Apricot      3302
3       Avocado      4225
4        Banana      4011

In [315]:
plu.shape

(20, 2)

In [316]:
#Renaming column name of plu
plu.rename(columns={'plu_code': 'prodcode'},inplace=True)

In [317]:
plu.head()

        product  prodcode
0  Apple (Fuji)      4131
1  Apple (Gala)      4134
2       Apricot      3302
3       Avocado      4225
4        Banana      4011

In [318]:
#reading of data of the "Boston" city from Jan 1.
Jan1 = pd.read_excel(open('C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/data/Jan 1.xlsx', 'rb'), 
                      sheet_name='Boston')
Jan1.head()

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

   prodcode  price_eu  weight_kg  quantity
0      4134  1.957576   7.857868       498
1      4012  0.912565   5.746554       384
2      4323  0.740753   8.748904       431
3      4078  1.571533   7.061995       457
4      4323  1.389404   1.117369       316

In [319]:
Jan1.shape

(177, 4)

In [320]:
# to check the unique column in the datafram
Jan1.prodcode.nunique()

20

In [321]:
#merge the the two data from left side
Jan1_merge=plu.merge(Jan1, how='right', on='prodcode')
Jan1_merge

          product  prodcode  price_eu  weight_kg  quantity
0    Apple (Gala)      4134  1.957576   7.857868       498
1          Orange      4012  0.912565   5.746554       384
2    Strawberries      4323  0.740753   8.748904       431
3            Corn      4078  1.571533   7.061995       457
4    Strawberries      4323  1.389404   1.117369       316
..            ...       ...       ...        ...       ...
172  Apple (Fuji)      4131  0.785636   3.182114       309
173         Lemon      4958  1.769207   1.682748       144
174        Grapes      4272  1.870081   4.521656       455
175       Apricot      3302  0.851615   1.117974       482
176   Blueberries      4240  0.924423   8.807495       116

[177 rows x 5 columns]

In [322]:
Jan1_merge.head()

        product  prodcode  price_eu  weight_kg  quantity
0  Apple (Gala)      4134  1.957576   7.857868       498
1        Orange      4012  0.912565   5.746554       384
2  Strawberries      4323  0.740753   8.748904       431
3          Corn      4078  1.571533   7.061995       457
4  Strawberries      4323  1.389404   1.117369       316

In [323]:
Jan1_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 176
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   product    177 non-null    object
 1   prodcode   177 non-null    int64
 2   price_eu   177 non-null    float64
 3   weight_kg  177 non-null    float64
 4   quantity   177 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 8.3+ KB

In [324]:
Jan1_merge.shape

(177, 5)

### Step 2c: Drop unnecessary columns
We've created some extraneous columns. Drop the old price and weight columns, as well as any redundant columns.

In [325]:
# drop the old price and weight columns
Jan21.drop(['price_eu', 'weight_kg'], axis=1, inplace=True)

In [326]:
Jan21.head()

   prodcode  quantity  price_usd  weight_lb
0      4062       362   2.974843   3.729402
1      4134       188   3.139207   3.535572
2      4078       179   2.453545   4.061848
3      4412       132   2.760245   1.526365
4      3302       299   2.315842   4.034358

### Step 2d: Add the date
Simply create a new `date` column that is the date this data was collected. For example, if this is from `Jan 1.xlsx`, this column should be full of `Jan 1`.

In [327]:
# add the column date
Jan1['date']= 'Jan 1'
Jan1.head()

   prodcode  price_eu  weight_kg  quantity   date
0      4134  1.957576   7.857868       498  Jan 1
1      4012  0.912565   5.746554       384  Jan 1
2      4323  0.740753   8.748904       431  Jan 1
3      4078  1.571533   7.061995       457  Jan 1
4      4323  1.389404   1.117369       316  Jan 1

### Step 3: Write a function that conducts all of Step 2
This function should import a **filename and a city name** and return a fully processed DataFrame. That is, the function should:
1. Read in the data from the given file and city.
1. Create USD and pound columns.
1. Merge in product names.
1. Drop unnecessary columns.
1. Add a date column

In [328]:
# fuction that used to run the question at step 2.
def process_data(file, city):
    df1 = pd.read_excel(open('C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/data/%s.xlsx'%file, 'rb'), 
                      sheet_name='%s'%city)
    df1['price_usd']=df1['price_eu']*1.1
    df1['weight_lb']=df1['weight_kg']/2.2 
    plu = pd.read_csv("C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/plu-codes.csv")
    plu.rename(columns={'plu_code': 'prodcode'},inplace=True)
    df1_merge=plu.merge(df1, how='left', on='prodcode')
    df1_merge.drop(['price_eu', 'weight_kg'], axis=1, inplace=True)
    df1_merge['Date']='%s'%file
    return df1_merge

Test your function out on a new file and city!

In [329]:
#Test your function out on a new file and city!
yy= process_data('Jan 3', 'New York')
yy.head()

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

        product  prodcode  quantity  price_usd  weight_lb   Date
0  Apple (Fuji)      4131       357   3.191065   4.278126  Jan 3
1  Apple (Fuji)      4131       391   2.159562   2.553513  Jan 3
2  Apple (Fuji)      4131       319   0.652353   1.068646  Jan 3
3  Apple (Fuji)      4131       155   1.503508   0.821562  Jan 3
4  Apple (Fuji)      4131       296   1.312463   3.586265  Jan 3

### Step 4: Process all of January's data
For each spreadsheet, process the data and store the resulting DataFrame in one big list. **You only need to do this for your city!**

* _Hint 1:_ A listcomp would make this whole step one line of code!
* _Hint 2:_ You've already made that `files` variable to help you here.

In [330]:
# list of file creaded with OS
dir_list

['Jan 1.xlsx',
 'Jan 10.xlsx',
 'Jan 11.xlsx',
 'Jan 12.xlsx',
 'Jan 13.xlsx',
 'Jan 14.xlsx',
 'Jan 15.xlsx',
 'Jan 16.xlsx',
 'Jan 17.xlsx',
 'Jan 18.xlsx',
 'Jan 19.xlsx',
 'Jan 2.xlsx',
 'Jan 20.xlsx',
 'Jan 21.xlsx',
 'Jan 22.xlsx',
 'Jan 23.xlsx',
 'Jan 24.xlsx',
 'Jan 25.xlsx',
 'Jan 26.xlsx',
 'Jan 27.xlsx',
 'Jan 28.xlsx',
 'Jan 29.xlsx',
 'Jan 3.xlsx',
 'Jan 30.xlsx',
 'Jan 31.xlsx',
 'Jan 4.xlsx',
 'Jan 5.xlsx',
 'Jan 6.xlsx',
 'Jan 7.xlsx',
 'Jan 8.xlsx',
 'Jan 9.xlsx']

In [331]:
# Reading Boston city sheet from the given data
list_Boston=[pd.read_excel(open('C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/data/%s'%file, 'rb'), 
                      sheet_name='Boston') for file in dir_list]
list_Boston

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

[     prodcode  price_eu  weight_kg  quantity
 0        4134  1.957576   7.857868       498
 1        4012  0.912565   5.746554       384
 2        4323  0.740753   8.748904       431
 3        4078  1.571533   7.061995       457
 4        4323  1.389404   1.117369       316
 ..        ...       ...        ...       ...
 172      4131  0.785636   3.182114       309
 173      4958  1.769207   1.682748       144
 174      4272  1.870081   4.521656       455
 175      3302  0.851615   1.117974       482
 176      4240  0.924423   8.807495       116

 [177 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4062  1.787273   4.471376       429
 1        4131  1.126582   8.044936       115
 2        4412  1.124486   5.821937       224
 3        4240  2.439484   1.597031       125
 4        4131  0.724156   1.585862       314
 ..        ...       ...        ...       ...
 139      4081  2.933888   4.822286       225
 140      4159  0.862348   7.702172       210
 141      4159  1.015723   5.522059       485
 142      4796  2.422041   8.823045       156
 143      3302  2.993079   9.836940       143

 [144 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        3302  1.080893   5.127780       413
 1        4131  0.546223   1.971261       443
 2        4012  1.175470   5.041359       323
 3        4134  1.756376   1.848012       291
 4        4062  2.176934   5.441158       297
 ..        ...       ...        ...       ...
 111      4650  1.608026   3.475549       425
 112      4272  2.638751   6.881102       191
 113      4323  1.369019   6.972113       154
 114      4796  0.885581   4.665167       476
 115      4796  1.267550   4.424641       297

 [116 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4412  1.581819   8.909573       332
 1        4650  1.297087   4.364117       288
 2        4796  1.268062   3.917054       403
 3        4958  2.806989   8.823966       119
 4        4796  1.163112   3.048494       382
 ..        ...       ...        ...       ...
 126      4062  0.577561   8.575830       353
 127      4404  1.277035   9.287725       369
 128      4225  2.889246   9.507342       484
 129      4159  2.347170   5.938858       488
 130      4159  2.327121   4.702714       444

 [131 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        3302  0.874820   9.926592       114
 1        4081  0.676420   3.823361       234
 2        4131  0.599390   8.399749       262
 3        4012  0.889678   8.615669       173
 4        4796  2.517794   2.761869       103
 ..        ...       ...        ...       ...
 118      4323  2.495556   9.635584       130
 119      4796  2.617830   5.116406       274
 120      3302  1.626513   2.995254       186
 121      4078  1.319134   4.533115       495
 122      4078  2.968433   2.855828       123

 [123 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4958  1.002161   4.350190       454
 1        4134  1.607427   4.088604       440
 2        4404  2.391615   8.846058       114
 3        4412  1.559371   3.502336       110
 4        4240  1.189928   1.387503       193
 ..        ...       ...        ...       ...
 186      4081  1.016661   9.863914       236
 187      4404  0.562320   1.436869       457
 188      4323  1.099719   7.231482       497
 189      4012  0.530446   6.039821       473
 190      4412  1.841767   3.048413       173

 [191 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4650  2.994255   8.311096       250
 1        4011  0.675726   8.945739       229
 2        4030  1.151637   4.280233       396
 3        4796  1.343175   7.487131       158
 4        4062  1.121104   2.063172       359
 ..        ...       ...        ...       ...
 110      4404  1.653973   7.146866       333
 111      4240  0.831202   5.020198       290
 112      4225  0.925478   8.966378       243
 113      3302  1.783134   3.855378       374
 114      4011  1.203183   9.704697       465

 [115 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4131  2.648798   9.899976       441
 1        4011  1.172191   8.485453       430
 2        4078  1.134921   7.340038       144
 3        4062  2.845972   9.951169       146
 4        3302  2.617083   4.906298       178
 ..        ...       ...        ...       ...
 119      4134  2.589149   3.258579       425
 120      4309  2.551629   8.772196       143
 121      4272  1.399194   3.216593       105
 122      4131  0.799474   4.696033       294
 123      4225  2.787052   7.050959       481

 [124 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4030  0.724529   6.526625       365
 1        4412  1.176185   4.932899       257
 2        4134  0.881676   9.918546       479
 3        4796  2.431864   2.577641       357
 4        4240  2.964569   7.463283       258
 ..        ...       ...        ...       ...
 150      4030  1.587809   9.838220       217
 151      4272  2.807759   1.267724       225
 152      4650  2.495865   3.255215       405
 153      4240  2.286336   7.773690       287
 154      4012  0.638799   9.252911       387

 [155 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4958  2.342547   4.743472       200
 1        4404  0.596024   1.087012       129
 2        4131  1.901436   5.749819       481
 3        4650  1.393672   6.900612       456
 4        4081  1.572611   9.042117       322
 ..        ...       ...        ...       ...
 162      4323  1.651340   6.403967       423
 163      4159  2.648764   5.479397       185
 164      4225  1.760837   1.457570       462
 165      4159  2.933774   4.429534       315
 166      4412  0.646149   9.066432       469

 [167 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4225  2.821764   5.991828       109
 1        4272  2.291278   7.406463       487
 2        4272  2.868902   3.995164       260
 3        4240  1.900148   4.324676       217
 4        4650  1.652318   8.156802       306
 ..        ...       ...        ...       ...
 166      4159  1.765772   3.156249       325
 167      4134  1.278073   9.634835       110
 168      4081  2.592303   2.668222       436
 169      4225  2.725551   9.906121       272
 170      4225  2.735771   9.798733       481

 [171 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4030  1.794595   7.408185       109
 1        4796  2.465679   4.732620       329
 2        4309  2.364612   2.334260       202
 3        4062  2.675838   5.775537       377
 4        4062  2.544090   7.213688       181
 ..        ...       ...        ...       ...
 141      4159  0.658926   9.097841       236
 142      3302  0.930788   3.683782       307
 143      4240  2.595530   5.877564       498
 144      3302  0.663172   6.044196       265
 145      4650  2.908118   8.439885       262

 [146 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4078  1.134556   6.785878       393
 1        4030  2.389738   5.316570       373
 2        4309  1.284609   7.077342       136
 3        4159  1.515562   5.190489       283
 4        4062  1.020298   5.369436       346
 ..        ...       ...        ...       ...
 154      4796  1.923753   1.411089       272
 155      4030  2.555996   9.176357       163
 156      4012  2.631527   2.063230       235
 157      4030  1.939492   8.949417       134
 158      4134  1.318549   7.909305       191

 [159 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4062  2.704403   8.204685       362
 1        4134  2.853825   7.778257       188
 2        4078  2.230495   8.936067       179
 3        4412  2.509314   3.358003       132
 4        3302  2.105311   8.875587       299
 ..        ...       ...        ...       ...
 181      4062  1.890646   4.442497       184
 182      4012  0.580327   4.644796       275
 183      4011  0.758523   4.676506       290
 184      4030  2.291222   1.283037       420
 185      4078  2.637176   2.643585       454

 [186 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4412  0.775522   7.924342       469
 1        4412  1.278809   6.732102       139
 2        4131  2.213391   7.132639       393
 3        4030  0.743617   8.190647       172
 4        4131  0.854499   1.995496       440
 ..        ...       ...        ...       ...
 101      4225  2.596474   1.659796       404
 102      4078  2.874869   5.346462       254
 103      4012  2.334362   7.012475       233
 104      4240  2.727889   8.367912       244
 105      4011  1.287992   1.624036       401

 [106 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4225  1.203594   4.935961       271
 1        4796  1.362533   2.855601       264
 2        4030  2.105370   1.705416       174
 3        4159  1.042259   9.959755       244
 4        4240  2.214819   4.423136       281
 ..        ...       ...        ...       ...
 133      4062  2.579502   7.786855       157
 134      4078  2.782910   1.828922       450
 135      4796  2.277443   3.787169       202
 136      4159  2.950468   8.655364       102
 137      4225  1.382542   3.774406       486

 [138 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4030  1.417350   8.410759       180
 1        4309  0.803150   5.631313       117
 2        4225  1.963098   6.188022       350
 3        4272  1.504936   6.995951       472
 4        4225  1.584908   4.010263       336
 ..        ...       ...        ...       ...
 130      4134  2.021267   5.441514       255
 131      4131  1.472206   4.184425       208
 132      4131  2.098701   8.621954       156
 133      4078  2.961101   4.474113       190
 134      4134  2.060669   7.758093       184

 [135 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4958  0.605160   6.718604       456
 1        3302  1.527189   9.396317       114
 2        4131  2.629595   7.742641       120
 3        4134  0.765817   9.563864       316
 4        4412  1.934846   7.312817       242
 ..        ...       ...        ...       ...
 144      4131  2.783480   7.148412       409
 145      4131  1.429944   8.949795       263
 146      4796  2.887592   8.812350       168
 147      4078  2.347994   7.173093       248
 148      4081  1.743936   6.623745       339

 [149 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4011  2.910359   5.619128       449
 1        4081  1.208449   9.457802       248
 2        4134  1.571108   4.442744       465
 3        4650  1.760948   8.745275       137
 4        4323  0.748857   5.836166       211
 ..        ...       ...        ...       ...
 195      4030  1.846843   7.083197       357
 196      4650  1.774959   5.019391       308
 197      3302  2.128686   2.366231       361
 198      4062  0.730563   6.725124       432
 199      4062  1.808488   2.792984       268

 [200 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4796  0.689745   2.996386       242
 1        4159  1.500372   8.454601       342
 2        4081  2.376757   8.664984       151
 3        4062  1.279006   9.778206       462
 4        4958  2.575088   4.289425       281
 ..        ...       ...        ...       ...
 176      4796  2.814020   6.242292       231
 177      4412  1.204732   6.818777       290
 178      4650  1.643909   2.210646       445
 179      4404  0.651871   2.937710       335
 180      4131  2.955225   1.050710       450

 [181 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4225  2.064352   6.012052       414
 1        4081  1.892775   9.739063       117
 2        4412  1.156997   6.127846       393
 3        4309  2.948587   8.620253       463
 4        4030  2.866093   4.853686       483
 ..        ...       ...        ...       ...
 123      4131  0.585617   4.125008       334
 124      4958  2.659504   8.738050       107
 125      4159  0.833778   2.711020       377
 126      4131  1.423445   4.790970       228
 127      4796  2.994392   8.505220       423

 [128 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4309  1.875943   2.731208       273
 1        4081  2.887112   8.246575       482
 2        4240  2.028016   6.208371       499
 3        4796  2.325035   1.803645       227
 4        4012  1.246007   9.192560       188
 ..        ...       ...        ...       ...
 154      4309  1.740400   6.112274       351
 155      4796  1.509984   4.872717       453
 156      4323  1.471166   4.621142       425
 157      4958  1.585100   6.134899       242
 158      4225  2.775452   2.109592       437

 [159 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4958  1.199604   5.367671       164
 1        4081  1.864119   4.920702       490
 2        4958  2.101751   1.241105       303
 3        4225  2.771617   4.096654       296
 4        4078  0.789454   8.768320       299
 ..        ...       ...        ...       ...
 109      4012  2.827371   8.500703       177
 110      4650  2.945362   2.718829       449
 111      4796  2.445250   3.883070       425
 112      4062  1.475618   7.046054       408
 113      4012  2.704161   9.388672       356

 [114 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4081  1.365239   1.432427       484
 1        4012  1.071988   5.574501       164
 2        4134  1.027460   3.125327       435
 3        4272  1.913068   5.655928       303
 4        4272  0.683016   1.124407       300
 ..        ...       ...        ...       ...
 150      4412  1.415894   5.776867       166
 151      4062  2.039224   1.127958       496
 152      4404  1.167840   1.275837       195
 153      4062  1.989172   5.036471       495
 154      4159  2.671280   4.011125       372

 [155 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4062  1.864799   8.257936       157
 1        4134  1.896052   6.786862       398
 2        4062  0.689267   9.578513       250
 3        4012  2.495072   8.962547       408
 4        4412  2.668445   3.561285       450
 ..        ...       ...        ...       ...
 157      4309  1.889473   7.002501       273
 158      4159  2.848363   1.909915       130
 159      4012  1.965253   1.000920       156
 160      4323  1.911771   1.483456       174
 161      4012  2.363911   5.532042       302

 [162 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4081  2.403484   1.003010       277
 1        4225  1.406695   3.893191       449
 2        4958  1.279838   2.521541       146
 3        4011  2.819368   7.595833       467
 4        4062  2.599625   4.693680       142
 ..        ...       ...        ...       ...
 114      4159  1.409515   8.407240       155
 115      4796  2.975457   2.872815       472
 116      4225  0.798455   3.564694       459
 117      4225  1.757012   5.915880       169
 118      4404  1.528591   6.301409       272

 [119 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4062  1.165648   9.703614       128
 1        4131  1.130214   8.001975       493
 2        4272  1.054713   4.457812       486
 3        4240  2.848530   8.465193       422
 4        4225  0.987598   3.567469       325
 ..        ...       ...        ...       ...
 187      4412  2.504345   1.064157       394
 188      4081  2.993400   5.818331       175
 189      4078  1.906061   1.635341       220
 190      4011  2.728437   5.440664       335
 191      4011  2.621093   5.843747       431

 [192 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4323  2.785663   2.286493       261
 1        4796  1.780125   1.240616       339
 2        4412  2.427859   5.251395       246
 3        4012  1.459726   8.055505       408
 4        4240  2.271278   1.548151       226
 ..        ...       ...        ...       ...
 140      4404  1.186295   4.814465       161
 141      4272  1.169086   4.641625       404
 142      4272  0.835818   4.249380       459
 143      4062  0.939314   8.786196       172
 144      4958  0.869263   3.420539       488

 [145 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4958  0.707083   7.276702       319
 1        4412  1.529445   8.917952       356
 2        4958  2.399912   8.483061       359
 3        4650  1.022413   2.585459       268
 4        4272  1.880998   1.174156       437
 ..        ...       ...        ...       ...
 120      4323  2.974498   2.653008       173
 121      4078  1.339879   7.437035       336
 122      4272  1.788645   8.207490       402
 123      4012  0.713935   9.059039       209
 124      4011  0.739458   8.922654       108

 [125 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4240  0.723431   9.510105       485
 1        4078  0.944004   8.507161       291
 2        4078  1.173074   2.800280       127
 3        4030  1.541987   7.141161       407
 4        4309  1.926939   9.999604       456
 ..        ...       ...        ...       ...
 155      4272  0.886827   1.218748       254
 156      3302  1.969969   3.429427       312
 157      4404  1.276998   9.164707       172
 158      4062  1.558864   7.746972       436
 159      4030  1.895941   3.085216       401

 [160 rows x 4 columns],
      prodcode  price_eu  weight_kg  quantity
 0        4062  0.709789   8.512624       275
 1        4134  1.742215   7.866002       439
 2        4412  1.796306   1.405010       186
 3        3302  2.994218   6.879602       253
 4        4225  1.156119   4.579716       467
 ..        ...       ...        ...       ...
 112      4225  1.284963   1.557126       458
 113      3302  2.297000   4.158006       418
 114      4309  0.767702   9.061574       274
 115      4404  2.476346   5.408705       200
 116      4958  1.730068   4.833922       393

 [117 rows x 4 columns]]

### Step 5: Concatenate all DataFrames from Step 4 into one large DataFrame
* _Hint:_ Is there a function in `pandas` that can do something like this for us? This is also just one line of code!

In [332]:
# Forming DataFrame with pandas.
df_Boston=pd.DataFrame(list_Boston)
df_Boston.shape

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals\construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

(31, 1)

In [333]:
df_Boston.head()

                                                   0
0       prodcode  price_eu  weight_kg  quantity
0...
1       prodcode  price_eu  weight_kg  quantity
0...
2       prodcode  price_eu  weight_kg  quantity
0...
3       prodcode  price_eu  weight_kg  quantity
0...
4       prodcode  price_eu  weight_kg  quantity
0...

### Step 6: Do this for all cities, write data
Here's the big one. For each city, process and the data as in steps 3-5, and then write the data to our `output` folder. Below is a dictionary of city name to desired output file name.

Before writing your DataFrame, do the following:
* Add a `city` column
* Reorder the columns into the following order:


| city | date | product | prodcode | quantity | weight_lb | price_usd |
|---|---|---|---|---|---|---|

* _Hint:_ You can reorder DataFrame columns simply by writing over your DataFrame with itself, but specifying the specific column order with `.loc`. For example:

`print(df)`

| b | c | a |
|---|---|---|
| 1 | 2 | 3 |

`df = df.loc[:, ["a", "b", "c"]]`

`print(df)`

| a | b | c |
|---|---|---|
| 3 | 1 | 2 |

In [334]:
# add city column to the dataframe
df_6= process_data('Jan 3', 'Boston')
df_6.head()
df_6['city']= ''
df_6.info()
# df_Boston.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114 entries, 0 to 113
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   product    114 non-null    object
 1   prodcode   114 non-null    int64
 2   quantity   114 non-null    int64
 3   price_usd  114 non-null    float64
 4   weight_lb  114 non-null    float64
 5   Date       114 non-null    object
 6   city       114 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 7.1+ KB

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [335]:
df_6.columns

Index(['product', 'prodcode', 'quantity', 'price_usd', 'weight_lb', 'Date',
       'city'],
      dtype='object')

In [336]:
d7=df_6[['city','Date','product', 'prodcode', 'quantity', 'weight_lb','price_usd']]
d7.head()

  city   Date       product  prodcode  quantity  weight_lb  price_usd
0       Jan 3  Apple (Fuji)      4131       125   1.216087   2.655016
1       Jan 3  Apple (Fuji)      4131       209   0.822722   1.143128
2       Jan 3  Apple (Fuji)      4131       367   4.246985   1.179201
3       Jan 3  Apple (Fuji)      4131       429   4.072536   2.019336
4       Jan 3  Apple (Fuji)      4131       329   0.942295   1.147566

In [337]:
# reordering the columns
df_6=df_6.loc[:, ['city','Date','product', 'prodcode', 'quantity', 'weight_lb','price_usd']]
df_6.columns

Index(['city', 'Date', 'product', 'prodcode', 'quantity', 'weight_lb',
       'price_usd'],
      dtype='object')

In [338]:
city_dict = {
    "Atlanta": "atl.csv",
    "Austin": "atx.csv",
    "Boston": "bos.csv",
    "Chicago": "chi.csv",
    "Denver": "den.csv",
    "Los Angeles": "lax.csv",
    "New York": "nyc.csv",
    "San Francisco": "sf.csv",
    "Seattle": "sea.csv",
    "Washington, DC": "dc.csv"}

In [339]:
dic_k= [k for k in city_dict.keys() ]
dic_k

['Atlanta',
 'Austin',
 'Boston',
 'Chicago',
 'Denver',
 'Los Angeles',
 'New York',
 'San Francisco',
 'Seattle',
 'Washington, DC']

In [340]:
city_dict.get('Atlanta')

'atl.csv'

In [341]:
df = pd.read_excel(open('C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/data/Jan 2.xlsx', 'rb'), 
                          sheet_name="Atlanta")
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

   prodcode  price_eu  weight_kg  quantity
0      4309  1.174196   4.144857       393
1      4078  1.113595   6.211698       126
2      3302  1.584512   7.250695       320
3      4078  1.156861   5.442809       494
4      4650  2.778627   2.882292       206

In [342]:
city_dict = {
    "Atlanta": "atl.csv",
    "Austin": "atx.csv",
    "Boston": "bos.csv",
    "Chicago": "chi.csv",
    "Denver": "den.csv",
    "Los Angeles": "lax.csv",
    "New York": "nyc.csv",
    "San Francisco": "sf.csv",
    "Seattle": "sea.csv",
    "Washington, DC": "dc.csv"
}

def all_city (file):
    for city in city_dict.keys():
        df1 = pd.read_excel(open('C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/data/%s.xlsx'%file, 'rb'), 
                      sheet_name='%s'%city)
        df1['price_usd']=df1['price_eu']*1.1
        df1['weight_lb']=df1['weight_kg']/2.2 
        plu = pd.read_csv("C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/plu-codes.csv")
        plu.rename(columns={'plu_code': 'prodcode'},inplace=True)
        df1_merge=plu.merge(df1, how='left', on='prodcode')
        df1_merge.drop(['price_eu', 'weight_kg'], axis=1, inplace=True)
        df1_merge['date']='%s'%file
        
        #df = pd.read_excel(open('C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/data/%s.xlsx'%file, 'rb'), 
                          #sheet_name='%s'%city)
        #df['date']='%s'%file
        df1_merge['city']= city
        df2=df1_merge[['city','date','product','prodcode','quantity','weight_lb','price_usd']]#arranged the colunm d         
        df2.to_csv('C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/output/%s'%city_dict.get(city), index=False)

In [343]:
all_city ("Jan 1")

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [344]:
# Loop through city_dict and carry out Step 6 here.
# The keys of city_dict can serve as the sheet name.
# The values of city_dict are what you should name the output .csv files.
# If done correctly, this cell could take almost a minute to run!

# Part II: Checking our answers 
In steps very similar to the ones conducted above...
1. Loop through the files we just wrote to `output`, and read them in, collecting them all in one list
1. Combine all of those DataFrames into one large DataFrame
1. For each city, find the mean `quantity`, `weight_lb`, and `price_usd`.

If you've done everything correct, your answer should look exactly like this:

![](imgs/correct-output.png)

In [345]:
file_list=[xx for xx in city_dict.values()]
file_list

['atl.csv',
 'atx.csv',
 'bos.csv',
 'chi.csv',
 'den.csv',
 'lax.csv',
 'nyc.csv',
 'sf.csv',
 'sea.csv',
 'dc.csv']

In [346]:
#Creating overall files dataframe 
yy=pd.DataFrame()
for i in range(len(city_dict.values())):
    val=[xx for xx in city_dict.values()][i]    
    df1 = pd.read_csv('C:/Users/Solomon Lemma/DSI/Labs-assignments/week2/2.02-excel-madness/output/%s'%val)
    
kk=pd.concat([yy,df1])

kk.shape

(149, 7)

In [347]:
kk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       149 non-null    object
 1   date       149 non-null    object
 2   product    149 non-null    object
 3   prodcode   149 non-null    int64
 4   quantity   149 non-null    int64
 5   weight_lb  149 non-null    float64
 6   price_usd  149 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 8.3+ KB

In [348]:
kk.head()

,city,date,product,prodcode,quantity,weight_lb,price_usd
0,"Washington, DC",Jan 1,Apple (Fuji),4131,354,3.088436,2.234031
1,"Washington, DC",Jan 1,Apple (Fuji),4131,499,2.149165,2.979051
2,"Washington, DC",Jan 1,Apple (Fuji),4131,441,1.589095,2.373159
3,"Washington, DC",Jan 1,Apple (Fuji),4131,385,0.816528,0.719747
4,"Washington, DC",Jan 1,Apple (Fuji),4131,346,3.694569,3.085513

In [349]:
# The mean values of quantity, weight_lb, and price_usd
kk.quantity.mean(),kk.weight_lb.mean(),kk.price_usd.mean()

(314.3691275167785, 2.432226892319934, 2.010898856773053)