# Python Ladder Challenge - Notebook 2

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [19]:
#print([i for i in range(1, 11)])
for i in range(1,11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

35) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [12]:
# Print odd numbers in given range
for num in range(1, 21):
    if num % 2 != 0:
        print(num, end = " ")

1 3 5 7 9 11 13 15 17 19

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [84]:
# Print odd numbers in given range
for num in range(1, 21):
    if num % 2 != 0:
        print(num, end = " ")

1 3 5 7 9 11 13 15 17 19

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [26]:
total = 0
for i in range(0, 101):
    total = total + i
print(total)

5050

38) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [48]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [58]:
xx = "Person is awesome!"
for i in range (len(friends)):
    print (xx.replace("Person", friends[i]).upper())

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

39) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [69]:
xx2 = "Person is awesome!"
yy = ["a", "e", "i","o", "u"]
for i in range (len(friends)):
    if friends[i][-1] in yy:
        print (friends[i].lower() + " is awesome!")
    else:
        print(friends[i].lower() + " is ok...")

alice is awesome!
bob is ok...
charlie is awesome!
debbie is awesome!

40) For each number between 1 and 30 (inclusive), if a number is divisible by 3, print `'Fizz'`. Otherwise, just print the number.

In [32]:
for num in range(1, 31):
    if num % 3 == 0:
        print('Fizz')
    else:
        print(num)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

In [2]:
# On the comment of the lab I got to change to list comprehension writting below 
for num in range(1, 31): print('Fizz' if num % 3 == 0 else num);

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

41) For each number between 1 and 30 (inclusive), if a number is divisible by 5, print `'Buzz'`. Otherwise, just print the number.

In [31]:
for num in range(1, 31):
    if num % 5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Buzz

In [2]:
# Here is the update with list comprehension writting as commented  

for n in range(1, 31): print('Buzz' if n % 5 == 0 else n);

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Buzz

42) **FIZZBUZZ!** For each number between 1 and 30 (inclusive),
* if a number is divisible by 3, print `'Fizz'`
* if a number is divisible by 5, print `'Buzz'`
* if a number is divisible by both 3 and 5, instead print `'FizzBuzz'`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [30]:
#Method 1: with long syntax to address the question
for num in range(1,30):
    if num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    elif num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    else: 
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29

In [27]:
# Alternative method to address the question as commented in the lab
for num in range(1, 31):
    fizzbuzz = ''
    if num % 3 == 0: fizzbuzz += 'Fizz'
    if num % 5 == 0: fizzbuzz += 'Buzz'
    
    print(fizzbuzz if fizzbuzz else num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [172]:
sentence = "These exercises help to improve Python coding skills."

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [173]:
vowel_count = 0
for char in sentence:
    if char in 'aeiouAEIOU':
        vowel_count += 1
vowel_count

15

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [438]:
def sentence_rm(xx):
    for i in "aeiouAEIOU":
        xx = xx.replace(i, " ")
    return  xx

In [439]:
aa=sentence_rm(sentence)
aa

'Th s   x rc s s h lp t   mpr v  Pyth n c d ng sk lls.'

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [251]:
fav_number = 41
if fav_number > 1:
    for i in range(2, fav_number//2):
        if (fav_number % i) == 0:
            print(fav_number, "is not a prime number")
            break
        else:
            print(fav_number, "is a prime number")
            break

41 is a prime number

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [255]:
num = '1234321'
if num == num[::-1]:
    print(num, "is palindromic")
else:
    print(num, "is not palindromic")

1234321 is palindromic

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [298]:
xx=[]
for i in range(10,100):    
    prod=i*(i+1)
    prod1=str(prod)
    #print(prod1)
    if prod1==prod1[::-1]:
        xx.append(prod)
print(xx)
print('The maximum two digits product palindrome number is',  xx[-1])

[272, 6006]
The maximum two digits product palindrome number is 6006

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

---
**IMPORTANT NOTE: Consider all ranges in this section to be *inclusive*.**

49) Create a list of the numbers 1 through 10.

In [10]:
# The previous aswer changed to the proper list comprehension writting
num = range(1, 11)
list_1_10 = [i+1 for i in num]
print(list_1_10)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

50) Create a list of the squares of the numbers between 1 and 10.

In [11]:
# The previous answer was updated by proper list comprehension writting
num = range(1, 11)
listsqr_1_10 = [i*i for i in num]
print(listsqr_1_10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [26]:
# updated as per the syntax of list comp
givennum = range(18, 48)
even_18_47 = [num for num in givennum if num%2==0]
print(even_18_47)

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

52) Create a list of the squares of the even numbers between 1 and 20.

In [39]:
# updated as per the syntax of list comp
sqreven_1_20 = [num**2 for num in range(1, 21) if num%2==0]

sqreven_1_20

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [43]:
# updated as per the syntax of list comp
cubsum_7_37 = sum([num**3 for num in range(7, 37)])
cubsum_7_37

443115

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [44]:
#numbers divisible by either 3 or 5 (or both) between 1 and 30.
dvnumber_1_30 = [num for num in range(1, 31)if num%3==0 or num%5==0]
dvnumber_1_30

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

55) Redefine this list to be all uppercase.

In [69]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']

In [329]:
friends_upper=list(names.upper() for names in friends)
friends_upper

['ALICE', 'BOB', 'CHARLIE', 'DEBBIE']

56) Remove all elements from `friends` whose names do not end in a vowel.

In [331]:
friends_end_novowels=list(names for names in friends if names[-1] in 'aeiuo')
friends_end_novowels

['Alice', 'Charlie', 'Debbie']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [344]:
sentence = "These exercises help to improve Python coding skills."

In [347]:
removed_vowel=''.join(list(aa for aa in sentence if aa not in 'aeiuo'))
removed_vowel

'Ths xrcss hlp t mprv Pythn cdng sklls.'

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `['Jan 1.xlsx', 'Jan 2.xlsx', ... , 'Jan 31.xlsx']`.

In [348]:
list_jan= list( ('Jan ' + str(i)+'.xlsl') for i in range(1,32) )
list_jan

['Jan 1.xlsl',
 'Jan 2.xlsl',
 'Jan 3.xlsl',
 'Jan 4.xlsl',
 'Jan 5.xlsl',
 'Jan 6.xlsl',
 'Jan 7.xlsl',
 'Jan 8.xlsl',
 'Jan 9.xlsl',
 'Jan 10.xlsl',
 'Jan 11.xlsl',
 'Jan 12.xlsl',
 'Jan 13.xlsl',
 'Jan 14.xlsl',
 'Jan 15.xlsl',
 'Jan 16.xlsl',
 'Jan 17.xlsl',
 'Jan 18.xlsl',
 'Jan 19.xlsl',
 'Jan 20.xlsl',
 'Jan 21.xlsl',
 'Jan 22.xlsl',
 'Jan 23.xlsl',
 'Jan 24.xlsl',
 'Jan 25.xlsl',
 'Jan 26.xlsl',
 'Jan 27.xlsl',
 'Jan 28.xlsl',
 'Jan 29.xlsl',
 'Jan 30.xlsl',
 'Jan 31.xlsl']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [350]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [354]:
dollars = list (num/1.1 for num in euros)
dollars

[4.090909090909091,
 6.090909090909091,
 2.954545454545454,
 9.081818181818182,
 11.59090909090909,
 0.3181818181818181]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [357]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [358]:
tall = list(hh for hh in heights if hh > 60)
tall

[71, 65, 68]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [366]:
tall_short1 = list(hh if hh > 60 else 'None' for hh in heights)
tall_short1

[71, 'None', 'None', 65, 68, 'None', 'None', 'None']

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [367]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [384]:
tall_name = list({k for (k,v) in people.items() if v > 60})
tall_name

['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [46]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}

In [47]:
[max(scores) for scores in people.values()]

[87, 92, 68, 100, 88, 99]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [ ]:
{name: max(scores) for name,scores in people.items()}

65) Using the two lists defined below, create the following resulting list:

`['AZ', 'BY', 'CX', 'DW', 'EV']`

* _Hint:_ Check out the `zip()` function.

In [53]:
letters_a = ['A', 'B', 'C', 'D', 'E']
letters_z = ['Z', 'Y', 'X', 'W', 'V']

In [54]:
[a + z for a,z in zip(letters_a, letters_z)]

['AZ', 'BY', 'CX', 'DW', 'EV']

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    'A is letter 1 of the alphabet',
    'B is letter 2 of the alphabet',
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [55]:
# updated as commented in the solution
[f'{letter} is letter {i+1} of the alphabet' for i,letter in enumerate(letters_a)]

['A is letter 1 of the alphabet',
 'B is letter 2 of the alphabet',
 'C is letter 3 of the alphabet',
 'D is letter 4 of the alphabet',
 'E is letter 5 of the alphabet']

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [418]:
import math

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [420]:
math.sin(math.pi/2)

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [424]:
math.log(math.sqrt(math.e))

0.5

c) $e^{3!}$

In [426]:
(math.e)**math.factorial(3)

403.428793492735

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ these two functions and verify the above examples are true.

In [429]:
from math import ceil, floor

In [432]:
print(ceil(3.8))
print(ceil(3.2))
print(floor(3.8))
print(floor(3.2))

4
4
3
3

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [436]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.

Why?
1. It "pollutes" the namespace with variable names that could easily be overwritten on accident.
    - For example, after the import we could accidentally define `sin = 'without'` then be surprised when `sin(0.5)` no longer works!
2. It does not show the reader which module a given function came from. 
    - For example, we see above that `ceil` came from the `math` library since it was noted in the import.
    - If we use * is much more difficult to determine which module `ceil` is from.